
footer {
	background-color: #353535;
	padding: 25px;
	color: white;
  margin-top: 20px;
					}
	
footer {
	h3 {
		font-family: "Shrikhand", "sans-serif";
		font-size: 1.2rem;
		font-weight: 500;
	}
	ul {
		list-style-type: none;
	}
	li {
		padding: 5px 0px 5px 0px;
	}
	a {
		color: white;
	}
	text-align: left;
}
.fa-utensils {
	margin-right: 12px;
}
.fa-hands-helping {
	margin-right: 5px;
}
